body{
    background-color: black;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.profile_box{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}
.profile_img{
    margin-top: -600px;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.my_name{
    display: flex;
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
    justify-content: center;
}
hr{
    border: 1px solid black;
    width: 80px;
}
.my_info{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -23px;
}
.my_info li{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.profile_top_left{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}
.profile_top_right{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}
.profile_bottom_left{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}
/* .profile_bottom_right{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
} */
.etc_2{
    padding: 40px;
}
.profile_bottom_left>ul h2{
    margin-top: -55px;
    margin-bottom: 0px;
}
.back_login button{
padding: 10px 20px;
background: #000;
color: #fff;
border: none;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
}
.back_login button:hover{
opacity: 0.85;
}